<!DOCTYPE html>
<html>

<head>
    <title>5mtech AI</title>
</head>

<body>

<h1>🤖 5mtech AI</h1>

<div id="chat"></div>


<input 
    id="question"
    type="text"
    placeholder="Nhập câu hỏi..."
>

<button onclick="sendMessage()">
    Gửi
</button>


<script>

async function sendMessage(){

async function loadHistory(){

    let response = await fetch("/history");

    let data = await response.json();


    let chat = document.getElementById("chat");


    data.messages.forEach(message => {

        let name = message.role === "user"
            ? "Bạn"
            : "5mtech";


        chat.innerHTML +=
            "<p><b>" + name + ":</b> "
            + message.text +
            "</p>";

    });

}


loadHistory();

    let input = document.getElementById("question");
    let question = input.value;


    document.getElementById("chat").innerHTML +=
        "<p><b>Bạn:</b> " + question + "</p>";


    let response = await fetch("/chat", {

        method: "POST",

        headers: {
            "Content-Type": "application/json"
        },

        body: JSON.stringify({
            question: question
        })

    });


    let data = await response.json();


    document.getElementById("chat").innerHTML +=
        "<p><b>5mtech:</b> " + data.answer + "</p>";


    input.value = "";

}

</script>


</body>

</html>